body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    font-size: 40px;
}
header h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    flex: 1; 
}
header h2{
    font-size: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto; 
}
.dropdown-toggle {
    background: none;
    border: none;
    color: #fff; 
    font-size: 20px;
    cursor: pointer;
}
.dropdown-menu {
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}
.dropdown-menu a {
    font-size: 20px;
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}
.dropdown-menu a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
main {
    font-size: 25px;
    padding: 20px;
    text-align: left;
    text-shadow: #333;
}
a {
    text-decoration: none;
    color: #007BFF;
}



html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  color: #001c35;
  background-color: #e3eafc;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 32px;
  font-style: italic;
  margin-bottom: 3rem;
}
h2 {
  font-size: 20px;
  margin: 0 0 1rem 0;
  line-height: 1.2;
  white-space: normal;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}
p {
  font-size: 14px;
  margin: 0.5rem 0;
  overflow-wrap: break-word;
}
section {
  width: 100%;
  max-width: 800px;
  padding: 4rem 1rem;
  margin: 0 auto;
}
section img {
  width: 100%;
  max-width: 520px;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
  margin: 1rem 0;
  display: block;
  border-radius: 8px;
  transform-origin: center;
}
.card {
  width: 100%;
  max-width: 520px;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: fade-in linear both;
  animation-timeline: view();
  animation-range: entry 10% entry 80%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.card h2, .card p {
  margin-bottom: 0.5rem;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

