
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #ffffff;
}

img {
    display: block;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

p {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: inline-block;
    text-decoration: none;
    color: #3498db;
    background-color: #3498db;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}
button{
    color: #3498db;
    background-color: #3498db;
    border-radius: 0px;
}

a:hover {
    background-color: #2980b9;
}

a:visited {
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    font-size: 40px;
}
header h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    flex: 1; 
}
header h2{
    font-size: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto; 
}
.dropdown-toggle {
    background: none;
    border: none;
    color: #fff; 
    font-size: 20px;
    cursor: pointer;
}
.dropdown-menu {
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}
.dropdown-menu a {
    font-size: 20px;
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}
.dropdown-menu a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}