header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(71,9,121,1) 43%, rgba(0,212,255,1) 100%);
    color: #ffffff;
    font-size: 40px;
    z-index: 999;
    top: -20px;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
  }
      

  header h1 {
    margin: 0;
    font-size: 40px;
    text-align: center;
    flex: 1; 
    font-family: "Share Tech Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

h2 {
    text-align: center;
}

.course-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    width: 80%; 
}
.course-description {
    text-align: center;
    font-family: "Share Tech Mono", monospace;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 0;
    border: none;
    background: none;
    width: auto;
}

.center-form button {
    font-family: "Share Tech Mono", monospace;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.center-form button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

