header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(71,9,121,1) 43%, rgba(0,212,255,1) 100%);
    color: #ffffff;
    font-size: 40px;
    z-index: 999;
    top: -20px;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

header h1 {
    margin: 0;
    font-size: 40px;
    text-align: center;
    flex: 1;
    font-family: "Share Tech Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px;
}

.search-container input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px 0 0 25px;
    border: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-container input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.search-container button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 30px;
    }

    .search-container input[type="text"] {
        width: 200px;
    }

    .search-container button {
        font-size: 14px;
    }
}
